.coverage
.dropbox
.DS_Store
.project
.pydevproject
*.code-workspace
*.pyc
/__pycache__
/.dbeaver
/.pytest_cache/
/.settings
/build
/dist
/docs/_build
/examples/pygpsdata*
/examples/temp*.*
/examples/ubxsandpit.py
/htmlcov
/pygnssutils_*
/pygnssutils-*
/pygnssutils/__pycache__
/references
/tests/__pycache__
/tests/*.rnx
output.*
Pipfile*.*
pylint_report.txt
src/pygnssutils.egg-*
venv