.DS_Store
.dropbox
.project
.coverage
.pydevproject
*.code-workspace
Pipfile*.*
/.settings
/htmlcov
/build
/dist
/docs
/references
/pygnssutils_*
/pygnssutils-*
/pygnssutils.egg*
/__pycache__
/.dbeaver
/pygnssutils/__pycache__
/tests/__pycache__
*.pyc
/examples/ubxsandpit.py
/examples/temp*.py
/.pytest_cache/
pylint_report.txt
venv
output.*
