# Example systemd service file for gnssstreamer
# Copy this file to /etc/systemd/system/
# Set env variable GNSSSTREAMER_CONF to location of config file
# To run automatically at boot, execute the following commands:
# sudo systemctl daemon-reload
# sudo systemctl enable gnssstreamer
# sudo systemctl start gnssstreamer
# Check status with:
# sudo systemctl status gnssstreamer
[Unit]
Description=GNSSStreamer

[Service]
Environment=PYTHONUNBUFFERED=1
Environment=GNSSSTREAMER_CONF=/path/to/gnssstreamer.conf
User=username
Group=usergroup
ExecStart=/path/to/gnssstreamer

[Install]
WantedBy=multi-user.target
Alias=gnssstreamer.service